/* generic background color */
* {
    background-color: #efeaea; 
}

/* form color setting */
.form {
    color: color(display-p3 0 0 0); 
}

/* title color change */
h1 {
    /* set main color */
    color: var(--main-color); /* main color */
    color: #8b008b; /* backup color */
    /* modify the text */
    color: rgb(114, 21, 165);
    text-align: center;
    text-decoration: underline;
    /* create a box around it */
    margin: auto;
    padding: 0.5in;
    border-style: groove;
    border-color: var(--main-color);
    border-width: 0.1em;
    border-radius: 10pt;
    min-width: 50%;
}

/* body and header text */
body, header {
    color: hsl(228, 79%, 37%); /* text color */
    text-align: left; /* left-aligned text */
}

/* grid display */
#roles {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    column-gap: 20px;
    row-gap: 15px;
    justify-content: space-around;
}

/* input text color */
input[type="text"] {
    color: green;
}

/* button hover color */
button:hover {
    color: blue;
}

/* fallback */
:root {
    --main-color: lightblue;
}
