/* import google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* generic background color */
* {
    background-color: #efeaea; 
}

/* form color setting */
.form {
    color: color(display-p3 0 0 0); 
}

/* title color change */
h1 {
    /* set main color */
    color: var(--main-color); /* main color */
    color: #04f83d; /* backup color */
    /* modify the text */
    color: rgb(43, 0, 255);
    text-align: center;
    text-decoration: underline;
    /* create a box around it */
    margin: auto;
    padding: 0.5in;
    border-style: groove;
    border-color: var(--main-color);
    border-width: 0.1em;
    border-radius: 10pt;
    min-width: 50%;
    position: static;
}

/* h3 changes */
h3{
    position: relative;
}

/* body and header text */
body, header {
    color: hsl(280, 83%, 49%); /* text color */
    text-align: left; /* left-aligned text */
}

/* grid display */
#roles {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    column-gap: 20px;
    row-gap: 15px;
    justify-content: space-around;
}

/* input text color */
input[type="text"] {
    color: rgb(206, 249, 30);
}

/* button hover color */
button:hover {
    color: rgb(255, 0, 43);
}

/* fallback */
:root {
    --main-color: rgb(16, 239, 83);
}

/* form active */
.form:active {
    box-shadow: 2px 2px 5px #fc894d;
}

/* flexbox */
#agenda {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* grid */
#wtdn {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    justify-content:space-around;
}

/* media responsivness */
@media (max-width: 1440px) {
    body {
        font-size: 20px;
    }
}

/* fonts to elements */
body {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

/* attribute selector */
input[type="text"] {
    border: 1px solid #ccc;
}

/* selector list */
h1, h2, h3 {
    text-transform: uppercase;
}

/* child Combinator */
.form > input {
    margin-bottom: 10px;
}

/* general sibling combinator */
h1 ~ p {
    font-style: italic;
}

/* adjacent sibling combinator */
h1 + p {
    font-weight: bold;
}

/* combining selectors */
h1.important {
    color: red;
}

/* :has() */
h1:has(span) {
    background-color: yellow;
}

/* nested selectors */
.form {
    &:hover {
        background-color: lightgray;
    }
}

